# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
build/

# Tuist
Derived/

# SPM
.build/
.swiftpm/

# macOS
.DS_Store

# Local configs
Configs/Common.xcconfig
GoogleService-Info.plist
**/GoogleService-Info.plist

# Claude Code
.claude/
CLAUDE.md

# Misc
*.ipa
*.dSYM.zip
*.dSYM
